html {
  background: none !important;
}

body.theme-transparent-dark {
  background: transparent !important;

  .c-message--ephemeral, .c-message--sli_highlight_negative,
  .client_channels_list_container {
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .c-message_kit__background,
  .p-unreads_view__header,
  .p-client, .p-channel_sidebar, .channel_header, client_body::before, div#footer, body:not(.loading) #team_menu.active, body:not(.loading) #team_menu:hover {
    background: transparent !important;
  }
  .p-client_container_placeholder,
  .p-workspace__top_nav > .p-classic_nav > .p-classic_nav__team_header,
  .p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider, .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar) {
    background: transparent !important;
  }
  .c-virtual_list__item,
  .c-message.c-message--light.c-message--adjacent,
  .c-message_attachment__pretext,
  .c-message_kit__text,
  .c-message__body, .c-message_attachment__body,
  .c-scrollbar__hider,
  .c-unified_member__display-name--large, .c-unified_member__title--large,
  .p-channel_details__shared_files__empty,
  .p-flexpane_header, .p-flexpane_header button,
  .p-classic_nav__model__button:not(:hover),
  .p-classic_nav__model__title__name,
  .p-classic_nav__model__title__info
  {
    color: white !important;
  }
  /* search */
  .p-classic_nav__right_header.p-classic_nav__right_header--context_pane.p-classic_nav__right_header--whats_new_showing {
    button, .p-classic_nav__right__search__icon, .p-classic_nav__right__search__placeholder {
      color: white;
    }
    .p-classic_nav__right__search {
      border-color: white;
    }
  }
  .c-message--light .c-message__sender .c-message__sender_link {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .p-flexpane_header {
    background: unset !important;
  }
  code {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
  pre, .c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    background: rgba(255, 255, 255, 0.3) !important;
  }
  .texty_legacy.texty_single_line_input {
    background: transparent;
  }
  .texty_legacy .ql-placeholder {
    color: #0093ff !important;
    filter: none !important;
    opacity: 1 !important;
  }
  .p-context_block__text,
  .c-virtual_list__item a,
  .c-virtual_list__item a:link,
  .c-virtual_list__item a:visited {
    color: #0093ff !important;
  }
  #msg_input, button#primary_file_button {
    background: rgba(255, 255, 255, .1);
  }
  .c-message_list__day_divider hr {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .c-message_list__day_divider__label__pill {
    background: rgba(255, 255, 255, .2);
    color: white;
  }
  #client_body:not(.onboarding):not(.feature_global_nav_layout):before,
  .p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider:before,
  .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before {
    background: transparent !important;
  }
  header#client_header {
    height: 60px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  }
  button#im_title, #msg_input, #msg_input p, div#msg_input p, .p-section_block_text_content {
    color: white !important;
  }
  #col_messages, #footer, .channel_header,
  #client_body:not(.onboarding):not(.feature_global_nav_layout):before {
    box-shadow: none !important;
  }

  .c-message_kit__file__meta__text, .c-timestamp__label{
    color: rgba(255,255,255,.6);
  }
  .p-message_input, .c-message__editor__input_container {
    .p-message_input_field, .c-message__editor__input {
      background: transparent !important;
      color: white !important;
      border-color: white !important;

      .ql-composer-sticky {
        background: transparent !important;
      }
    }
    .ql-placeholder, button {
      color: white !important;
    }
  }
}
