html {
  background: none !important;
  height: 100%; }

body.theme-transparent-dark {
  background: transparent !important; }
  body.theme-transparent-dark .client_channels_list_container {
    background: rgba(0, 0, 0, 0.3) !important; }
  body.theme-transparent-dark .p-channel_sidebar, body.theme-transparent-dark .channel_header, body.theme-transparent-dark client_body::before, body.theme-transparent-dark div#footer, body.theme-transparent-dark body:not(.loading) #team_menu.active, body.theme-transparent-dark body:not(.loading) #team_menu:hover {
    background: transparent !important; }
  body.theme-transparent-dark .p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider, body.theme-transparent-dark .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar) {
    background: transparent !important; }
  body.theme-transparent-dark .c-message__body, body.theme-transparent-dark .c-message_attachment__body {
    color: white !important; }
  body.theme-transparent-dark .c-message--light .c-message__sender .c-message__sender_link {
    color: rgba(255, 255, 255, 0.7) !important; }
  body.theme-transparent-dark .c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), body.theme-transparent-dark .c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), body.theme-transparent-dark .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    background: rgba(255, 255, 255, 0.3) !important; }
  body.theme-transparent-dark .texty_legacy.texty_single_line_input {
    background: transparent; }
  body.theme-transparent-dark .texty_legacy .ql-placeholder {
    color: #0093ff !important;
    filter: none !important;
    opacity: 1 !important; }
  body.theme-transparent-dark .c-virtual_list__item a,
  body.theme-transparent-dark .c-virtual_list__item a:link,
  body.theme-transparent-dark .c-virtual_list__item a:visited {
    color: #0093ff !important; }
  body.theme-transparent-dark #msg_input, body.theme-transparent-dark button#primary_file_button {
    background: rgba(255, 255, 255, 0.1); }
  body.theme-transparent-dark .c-message_list__day_divider hr {
    border-color: rgba(255, 255, 255, 0.2); }
  body.theme-transparent-dark .c-message_list__day_divider__label__pill {
    background: rgba(255, 255, 255, 0.2);
    color: white; }
  body.theme-transparent-dark #client_body:not(.onboarding):not(.feature_global_nav_layout):before,
  body.theme-transparent-dark .p-message_pane .c-message_list.c-virtual_list--scrollbar > .c-scrollbar__hider:before,
  body.theme-transparent-dark .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before {
    background: transparent !important; }
  body.theme-transparent-dark header#client_header {
    height: 60px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  body.theme-transparent-dark button#im_title, body.theme-transparent-dark #msg_input, body.theme-transparent-dark #msg_input p, body.theme-transparent-dark div#msg_input p {
    color: white !important; }
  body.theme-transparent-dark #col_messages, body.theme-transparent-dark #footer, body.theme-transparent-dark .channel_header,
  body.theme-transparent-dark #client_body:not(.onboarding):not(.feature_global_nav_layout):before {
    box-shadow: none !important; }
