body, .aAt, .aAU, #loading, .RWvJ9d>span, .RWvJ9d>span::before, .v83gc {
  background: transparent !important;
}
.NI2kfb, .KSxb4d.pCcXPem, .MmhHI.N4XV7d,.pCoqfc, .MANBAf {
	color: white !important;
}
header, header>div {
  background: transparent !important;
  color: white;
}
.gb_Ta svg, .gb_mc svg, .gb_ie.gb_ne, .v6hCJ *,.uW9umb * {
  color: white;
  opacity: 1;
}
.GXlaye .snByac {
  opacity: 1;
}
.JE11kf, .GENA3c, .Gk2izd {
  background: rgba(255, 255, 255, .2);
}
