/*
FRANZ Dark Whatsapp Theme
Original Theme By: Heitor Ramon Ribeiro (https://github.com/bloodf)
Modified Theme By Diego Franchina (https://github.com/soydiego)
*/
:root {
  --dark: #272c35;
  --darker: #1f232a;
  --light: #d1d1d1;
  --lighter: #e9e9e9;
  --accent: #7289da;
  --icon: #e1e1e1;
  --shadow: rgba(0, 0, 0, 0.2);
  --mred: #a3525b;
  --mgreen: #70a352;
  --mblue: #527aa3; }

/* Body reset. */
body.theme-dark {
  background: none;
  background-color: var(--dark);
  /* Scrollbar track. */
  /* Scrollbar thumb. */
  /* App wrapper. */
  /* Accent background. */
  /* Log-in page. */
  /* Text color. */
  /* Fix QR code. */
  /* Disable background. */
  /* Landing page. */
  /* Image. */
  /* Text color. */
  /* Left drawer. */
  /* Chat list. */
  /* Notifications && more!! */
  /* Text color. */
  /* Search or start new chat. */
  /* Label background. */
  /* Input element. */
  /* Active. */
  /* Search results. */
  /* Matching results. */
  /* Contacts wrapper. */
  /* Contacts. */
  /* On event. */
  /* Text color. */
  /* Avatar wrapper background. */
  /* Settings. */
  /* Header color. */
  /* Transparent sections. */
  /* Highlighted sections. */
  /* Profile picture height. */
  /* Text color. */
  /* Archived chats. */
  /* Body. */
  /* On event. TODO: Fixed, but it might still overlap somewhere. */
  /**/
  /* New chat section. */
  /* Input element. */
  /* New group. */
  /* Header. */
  /* On event. */
  /* Search element */
  /* Dropdown menu. */
  /* On event. */
  /* Text color. */
  /* Middle drawer. */
  /* Doodle background. TODO: Plans for the future. */
  /* Header. */
  /* Text color. */
  /* Footer. */
  /* Input wrapper. */
  /* Input element. */
  /* Hide 'Type a message' once focused. */
  /* On event smoothness. */
  /* Right drawer. */
  /* Border-color. */
  /* Header. */
  /* Text color. */
  /* Group info sections. */
  /* Group name. */
  /* User's name. */
  /* Accent color text. */
  /* Mute/Starred Messages. */
  /* Group options. */
  /* On event. */
  /* Text color. */
  /* Admin color. */
  /* Button background. */
  /* Search messages. TODO: Apply this to all search elements. */
  /* Input wrapper. */
  /* Input element. */
  /* Search messages body. */
  /* Matching results. */
  /* On event. */
  /* Starred messages. */
  /* On event. */
  /* On event. */
  /* Message info. */
  /* Doodle image. */
  /* chat item */
  /* Read by. */
  /* Media/docs/links section. */
  /* Active indicator. */
  /* Media viewer. */
  /* Chevron background. */
  /* Preloader. */
  /* Header. */
  /* Inner element. */
  /* Text color. */
  /* Footer. */
  /* Selected image. */
  /* Message bubbles. */
  /* Message text color. */
  /* Message meta text color. */
  /* Image/gif/video meta wrapper. */
  /* Message options. */
  /* Smooth transition. */
  /* System messages. */
  /* Text color and shadows. */
  /* New message. */
  /* X unread messages. */
  /* Document embeds. */
  /* Embed background. */
  /* Embed text color. */
  /* Link embeds. */
  /* Text color. */
  /* Link options. */
  /* Reply. (= */
  /* Reply wrapper. */
  /* Reply content. */
  /* Text color. */
  /* Close button. */
  /* On event. */
  /* Select messages. */
  /* Hover over messages. */
  /* Selected message. */
  /* Selected icon. */
  /* Checkmark. */
  /* Footer/control/options. */
  /* Text color. */
  /* Bubble tails -- experimental. */
  /* Disable tails everywhere except in chat. */
  /* Rounded corners. */
  /* Emoji menu. */
  /* Emoji tabs. */
  /* Tab indicator. */
  /* Search emojis. */
  /* Text color. */
  /* Gif preloader background. */
  /* Preview. */
  /* Header. */
  /* Text color. */
  /* Footer. */
  /* Button. */
  /* Emoji-wanna-be-round. */
  /* Selected emoji. */
  /* Emoji quick selection. */
  /* Emoji race color popup. */
  /* Separator. */
  /* Emoji menu triangle. */
  /* Backdrop. */
  /* Modal. */
  /* Text color. */
  /* Header. */
  /* Buttons. */
  /* Muted checkbox color. */
  /* New message indicator. */
  /* Drop items. (-: */
  /* Border. */
  /* Accent border. */
  /* Text color. */
  /* Status area! */
  /* Status modal! */
  /*.app-wrapper-web ._1abwg {
          max-width: 1396px;
          height: calc(100% - 36px);
          margin-left: auto;
          margin-right: auto;
          top: 20px; }/**/
  /* Left hand side. */
  /* Right hand side. */
  /* REMOVE STUFF. */
  /* Remove pseudo elements. */
  /* Remove ONLY borders. */
  /* Global icon color. */
  /* Default profile picture background. */
  /*  Sent message. */
  /* Sent AND seen message. */
  /* Misc icons fix. */
  /* Audio message icons. */
  /* Logo. */
  /* GIF icon opacity. */
  /* Be cautious icons. */
  /* Audio message. */
  /* App-loaded animation. */ }
  body.theme-dark *::-webkit-scrollbar-track {
    background-color: var(--shadow); }
  body.theme-dark *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--accent); }
  body.theme-dark #app .app {
    border: 2px solid var(--darker);
    box-shadow: 0 0 8px 1px var(--darker);
    background: none;
    background-color: var(--darker); }
  body.theme-dark .app-wrapper::after {
    background: none !important; }
  body.theme-dark ._2NbD3 {
    background-color: var(--darker) !important; }
  body.theme-dark ._2NbD3 * {
    color: var(--light); }
  body.theme-dark ._2NbD3 .XSdna {
    border: 3px solid var(--light); }
  body.theme-dark ._2U_Zc:before {
    display: none !important; }
  body.theme-dark .app ._1Iexl ._3qlW9 {
    /*box-shadow: 1px -3px 2px 0 shadow inset/**/
    border: none;
    background-color: var(--dark); }
  body.theme-dark .app ._3q4NP ._3qlW9::before {
    left: 0;
    top: 0;
    bottom: 6px;
    right: 0;
    position: absolute;
    z-index: 98;
    width: 90%;
    margin: 0 5%;
    padding-top: 40vh;
    /**/
    text-align: center;
    font-size: 20px;
    color: var(--light);
    background: var(--dark); }
  body.theme-dark .app ._1Iexl ._3qlW9 ._3BqNZ ._2Uo0Z {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    opacity: 0.66 !important; }
  body.theme-dark .app ._1Iexl ._3qlW9 ._2MnNk * {
    color: var(--light); }
  body.theme-dark #app .app #side {
    /* TODO borders. */
    background-color: var(--darker); }
  body.theme-dark #side > header {
    background-color: var(--darker) !important; }
  body.theme-dark #side ._3YewW {
    box-shadow: inset 0 0 4px 0 var(--shadow);
    background-color: var(--accent) !important; }
  body.theme-dark #side ._3YewW .l2BEH * {
    color: var(--lighter); }
  body.theme-dark #side ._3CPl4 {
    border-bottom: 0px solid var(--dark);
    background-color: var(--darker) !important;
    background-color: transparent !important; }
  body.theme-dark #side ._3CPl4 .gQzdc label,
  body.theme-dark .gQzdc._3sdhb {
    border: 0px solid var(--dark);
    background-color: var(--dark) !important; }
  body.theme-dark #side ._3CPl4 .gQzdc label input {
    color: var(--light);
    background-color: transparent; }
  body.theme-dark #side ._3CPl4 .gQzdc._3sdhb {
    background-color: var(--dark) !important;
    background-color: transparent !important; }
  body.theme-dark #side ._1AKfk {
    color: var(--accent);
    background-color: var(--dark); }
  body.theme-dark #side .matched-text {
    color: var(--accent) !important; }
  body.theme-dark #side ._1NrpZ,
  body.theme-dark ._2fq0t ._1lIXT {
    background-color: transparent !important; }
  body.theme-dark #side ._1NrpZ ._2EXPL,
  body.theme-dark ._2fq0t ._66JgU {
    transition: 200ms ease-in-out;
    background-color: transparent !important; }
  body.theme-dark #side ._1NrpZ ._2EXPL._1f1zm,
  body.theme-dark #side ._1NrpZ ._2EXPL:hover {
    background-color: var(--dark) !important; }
  body.theme-dark #side ._1NrpZ [class*="_3j7s9"] * {
    color: var(--light); }
  body.theme-dark ._1WliW {
    box-shadow: 0 0 0px 2px var(--shadow);
    background-color: transparent !important; }
  body.theme-dark ._2fq0t {
    background-color: var(--darker) !important; }
  body.theme-dark ._2fq0t header {
    background-color: var(--darker) !important; }
  body.theme-dark ._2fq0t ._1CRb5 {
    box-shadow: none !important;
    background-color: transparent !important; }
  body.theme-dark ._2fq0t ._3hhmj ._1CkkN {
    background-color: var(--dark) !important; }
  body.theme-dark ._2fq0t ._12fSF {
    min-height: 200px; }
  body.theme-dark ._2fq0t * {
    color: var(--light); }
  body.theme-dark ._2fq0t ._2Lev2 {
    background-color: var(--dark) !important; }
  body.theme-dark ._2fq0t ._2sNbV ._1CkkN,
  body.theme-dark ._2fq0t ._2sNbV ._2EXPL {
    background-color: transparent; }
  body.theme-dark .k1feT ._2sNbV > ._1CkkN:hover {
    background-color: var(--dark); }
  body.theme-dark ._2fq0t .gQzdc label {
    border: none;
    background-color: var(--dark); }
  body.theme-dark ._2fq0t .gQzdc label input {
    background-color: transparent; }
  body.theme-dark ._2fq0t ._39pS- {
    background-color: transparent !important; }
  body.theme-dark ._2fq0t ._1AKfk {
    background-color: var(--dark) !important; }
  body.theme-dark ._2EXPL:hover {
    background-color: var(--dark) !important; }
  body.theme-dark ._66JgU ._3_3Rs {
    border-bottom: none !important; }
  body.theme-dark ._66JgU ._3_3Rs input,
  body.theme-dark ._66JgU ._3_3Rs ::placeholder {
    color: var(--lighter) !important; }
  body.theme-dark ._2uLFU,
  body.theme-dark ._1ArIP {
    background-color: var(--darker) !important; }
  body.theme-dark ._2uLFU li:hover,
  body.theme-dark ._2ULFU li._28zBA {
    background-color: var(--dark) !important; }
  body.theme-dark ._2uLFU div,
  body.theme-dark _1ArIP div {
    color: var(--light); }
  body.theme-dark .app ._1Iexl ._1GX8_ {
    background-color: var(--dark); }
  body.theme-dark .app ._1Iexl ._1GX8_ .pane-chat-tile {
    /*display: none /**/
    filter: invert(100%) opacity(0.4); }
  body.theme-dark ._1Iexl #main header {
    border: none;
    background-color: var(--dark); }
  body.theme-dark ._1Iexl #main header ._1WBXd * {
    color: var(--light); }
  body.theme-dark ._1Iexl #main footer {
    /*box-shadow: 0 0 8px 0 shadow /**/
    background-color: var(--darker); }
  body.theme-dark ._1Iexl #main footer ._3oju3 {
    border: none;
    border-bottom: 2px solid var(--dark);
    background-color: var(--dark); }
  body.theme-dark ._1Iexl #main footer ._3oju3 ._2bXVy,
  body.theme-dark ._1Iexl #main footer ._3pkkz {
    border: none !important;
    color: var(--light);
    background-color: var(--darker) !important; }
  body.theme-dark ._1Iexl #main footer ._3pkkz ._1Plpp {
    border: none !important;
    color: var(--light);
    background-color: var(--dark) !important; }
  body.theme-dark .pluggable-input-compose.focused > div:first-child {
    color: transparent; }
  body.theme-dark .pluggable-input.pluggable-input-compose > div:first-child {
    transition: 150ms ease-in-out !important; }
  body.theme-dark .app ._2yeJ5 ._2fq0t {
    background-color: var(--darker); }
  body.theme-dark .app ._2yeJ5 {
    border-left-color: var(--darker) !important; }
  body.theme-dark .app ._2yeJ5 ._2fq0t header {
    background-color: var(--darker); }
  body.theme-dark .app ._2yeJ5 ._2fq0t header div {
    color: var(--light); }
  body.theme-dark .app ._2yeJ5 ._2fq0t ._1CRb5 {
    /*box-shadow: 0 1px 3px shadow /**/
    box-shadow: none;
    background-color: transparent; }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._1DTd4,
  body.theme-dark .media-body .CzI8E {
    margin-bottom: 10px;
    color: var(--light);
    border-bottom: 2px solid var(--accent) !important; }
  body.theme-dark .app ._2yeJ5 .copyable-text {
    color: var(--light); }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._1sYdX {
    font-weight: 400;
    color: var(--accent) !important; }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._3LL06 {
    color: var(--light); }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._2EXPL,
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._1CkkN {
    transition: 200ms ease-in-out;
    background-color: transparent; }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._2EXPL:hover,
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._1CkkN:hover {
    background-color: var(--dark); }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._2EXPL * {
    color: var(--light); }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._2e8Mu {
    border: 2px solid var(--accent); }
  body.theme-dark .app ._2yeJ5 ._1CRb5 ._1jJLh {
    background-color: var(--accent) !important; }
  body.theme-dark ._2yeJ5 ._1iMEz {
    background-color: var(--darkerz) !important; }
  body.theme-dark ._1iMEz label {
    border: 0px solid var(--dark) !important;
    background-color: var(--dark) !important; }
  body.theme-dark ._1iMEz ._3sdhb label {
    background-color: transparent !important; }
  body.theme-dark ._1iMEz label input {
    background-color: transparent !important; }
  body.theme-dark ._2yeJ5 .OMzAb {
    background-color: var(--darker) !important; }
  body.theme-dark ._2yeJ5 .matched-text {
    color: var(--accent) !important; }
  body.theme-dark ._2yeJ5 ._2EXPL:hover {
    background-color: var(--dark) !important; }
  body.theme-dark ._2yeJ5 .ZwkQK,
  body.theme-dark .ZwkQK {
    background-color: var(--darker) !important; }
  body.theme-dark .starred-msg-wrapper,
  body.theme-dark .MS-DH {
    transition: 200ms ease-in-out !important; }
  body.theme-dark .MS-DH._2-mCk,
  body.theme-dark .MS-DH._1baOM,
  body.theme-dark .MS-DH.ZuHmv {
    background-color: var(--dark) !important; }
  body.theme-dark .pane-preview {
    background-color: var(--dark) !important; }
  body.theme-dark .pane-preview .pane-chat-tile {
    filter: invert(100%) opacity(0.6); }
  body.theme-dark ._2wP_Y {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  body.theme-dark ._2yeJ5 ._2sNbV ._2HDl5 ._2wP_Y > div {
    background-color: var(--dark) !important; }
  body.theme-dark ._2yeJ5 ._3b2Cf {
    background-color: var(--darker) !important; }
  body.theme-dark ._2yeJ5 ._3b2Cf:before {
    background-color: var(--accent) !important; }
  body.theme-dark #app ._1zcz2,
  body.theme-dark ._3_R6X {
    background-color: rgba(0, 0, 0, 0.85) !important; }
  body.theme-dark ._3_R6X ._39uZ2,
  body.theme-dark ._298R6 {
    background-color: var(--darker) !important; }
  body.theme-dark ._3dGYA {
    background-color: var(--darker) !important; }
  body.theme-dark #app ._1zcz2 ._2YdsD,
  body.theme-dark ._3_R6X ._1XwnX {
    background-color: var(--dark) !important; }
  body.theme-dark #app ._1zcz2 ._2EXPL {
    background-color: transparent; }
  body.theme-dark #app ._1zcz2 ._2EXPL ._3j7s9 *,
  body.theme-dark ._3_R6X ._1XwnX * {
    color: var(--light); }
  body.theme-dark ._3Qh77 {
    border: none !important;
    background-color: var(--darker) !important; }
  body.theme-dark ._3Qh77 ._1xQmx {
    transform: scale(1) !important;
    border: 3px solid var(--accent) !important; }
  body.theme-dark html[dir="ltr"] .UPNDG:hover:not(._1xQmx) {
    border: 0px solid var(--accent);
    outline: 3px solid var(--accent) !important; }
  body.theme-dark .message-in {
    background-color: var(--darker) !important; }
  body.theme-dark .message-out {
    background-color: #303642 !important; }
  body.theme-dark .message {
    background-color: var(--darker) !important; }
  body.theme-dark .message-in .selectable-text,
  body.theme-dark .message-out .selectable-text,
  body.theme-dark .message .quoted-mention,
  body.theme-dark .message ._1upWv {
    color: var(--light) !important; }
  body.theme-dark ._3zb-j a {
    color: var(--mblue) !important; }
  body.theme-dark [class*="message-"] ._2f-RV *,
  body.theme-dark [class*="message-"] ._2f-RV *,
  body.theme-dark [class*="message-"] ._1_Gu6 *,
  body.theme-dark [class*="message-"] ._27K_5 *,
  body.theme-dark [class*="message-"] ._1DZAH *,
  body.theme-dark [class*="message-"] ._3cMIj * {
    color: var(--light); }
  body.theme-dark .message-gif ._2Pjvv,
  body.theme-dark .message-image ._2TvOE {
    bottom: 8px;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: var(--shadow); }
  body.theme-dark .message ._1i1U7 {
    /*transition: 200ms ease-in-out;/**/
    background: linear-gradient(to right, transparent 0%, var(--darker) 40%) !important; }
  body.theme-dark .message span:last-child div {
    transition: 50ms ease-in-out !important; }
  body.theme-dark .message-system {
    box-shadow: 0 0 8px 0 var(--shadow);
    background-color: var(--accent) !important; }
  body.theme-dark .message-system * {
    text-shadow: none !important;
    color: var(--lighter); }
  body.theme-dark #main ._1mq8g {
    border: none !important;
    background-color: transparent !important; }
  body.theme-dark #main ._1mq8g .L89LI {
    box-shadow: 0 0 8px 0 var(--shadow) !important;
    color: var(--light) !important;
    background-color: var(--darker) !important; }
  body.theme-dark .message ._1vKRe {
    border-color: var(--darker) !important; }
  body.theme-dark .message ._2CORf ._12xX7 {
    background-color: var(--dark) !important; }
  body.theme-dark .message ._2CORf ._12xX7 * {
    color: var(--light); }
  body.theme-dark ._1sGGp._2nFG1,
  body.theme-dark ._2lwig._2nFG1 {
    background-color: var(--dark) !important; }
  body.theme-dark ._1sGGp._2nFG1 *,
  body.theme-dark ._2lwig._2nFG1 * {
    color: var(--light); }
  body.theme-dark .message ._2DNgV._2Cju4,
  body.theme-dark .jZ4tp._2Cju4 {
    background: none !important; }
  body.theme-dark #main ._2EYZY {
    box-shadow: 0 0px 4px 0 var(--darker);
    background-color: var(--darker) !important; }
  body.theme-dark #main ._2EYZY ._3RNTQ {
    padding-bottom: 5px;
    margin: 0 50px !important; }
  body.theme-dark #main ._2EYZY ._27BA_ {
    border-radius: 5px;
    background-color: var(--dark); }
  body.theme-dark #main ._2EYZY .Bmrty {
    color: var(--light) !important; }
  body.theme-dark #main ._2EYZY ._3PiNI {
    margin-left: 5px;
    border-radius: 5px;
    transition: 150ms ease-in-out;
    background-color: var(--dark); }
  body.theme-dark #main ._2EYZY ._3PiNI:hover {
    background-color: var(--darker); }
  body.theme-dark #main ._3D9Wd {
    background-color: var(--shadow); }
  body.theme-dark #main ._1o1sm {
    transition: 100ms ease-in-out !important; }
  body.theme-dark #main ._1o1sm:hover,
  body.theme-dark #main ._1o1sm._2nOMz {
    background-color: var(--shadow) !important; }
  body.theme-dark #main ._1VD7W {
    border-color: var(--accent) !important;
    background-color: var(--accente) !important; }
  body.theme-dark #main ._1VD7W ._1KfC8 {
    border-bottom-color: var(--accent);
    border-right-color: var(--accent); }
  body.theme-dark #main ._2FsQ8,
  body.theme-dark #main ._3PWNn,
  body.theme-dark #main ._3XpR2 {
    background-color: var(--darker); }
  body.theme-dark #main ._2FsQ8 span,
  body.theme-dark #main ._3XpR2 {
    color: var(--light); }
  body.theme-dark .tail-container {
    display: none !important; }
  body.theme-dark .tail .tail-container {
    width: 0px !important;
    height: 12px !important;
    z-index: -1;
    border-top: 12px solid var(--darker);
    -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
    background: none !important; }
  body.theme-dark .tail.message-in .tail-container {
    left: -10px;
    top: 0px;
    border: 0px !important; }
  body.theme-dark .tail.message-out .tail-container {
    right: -10px;
    top: 0px;
    border: 0px !important; }
  body.theme-dark .tail.message-in,
  body.theme-dark .tail.message-out {
    border-radius: 4px !important; }
  body.theme-dark .starred-msg-wrapper .tail-container,
  body.theme-dark .message-gallery .tail-container,
  body.theme-dark .MS-DH .tail-container,
  body.theme-dark .tail-container .highlight {
    display: none !important; }
  body.theme-dark .tail.message-out .tail-container,
  body.theme-dark .tail.message-in .tail-container {
    border: 0px !important; }
  body.theme-dark .message-gallery.tail-override-left,
  body.theme-dark .MS-DH .tail-override-left {
    border-radius: 7.5px !important; }
  body.theme-dark footer ._14wwJ ._1qdni,
  body.theme-dark footer ._14wwJ ._3ETD3,
  body.theme-dark footer ._14wwJ ._3ETD3 .R0lQ6,
  body.theme-dark ._3ETD3,
  body.theme-dark .R0lQ6 {
    background-color: var(--dark) !important; }
  body.theme-dark footer ._14wwJ ._1qdni,
  body.theme-dark ._1qdni {
    background: var(--darker) !important; }
  body.theme-dark footer ._14wwJ ._1qdni ._1qXED,
  body.theme-dark ._1qdni ._1qXED {
    background-color: var(--accent) !important; }
  body.theme-dark footer ._14wwJ .R0lQ6 label,
  body.theme-dark .R0lQ6 .mnt6B {
    background-color: var(--darker) !important; }
  body.theme-dark footer ._14wwJ .R0lQ6 label input {
    color: var(--light); }
  body.theme-dark footer ._14wwJ ._2s3PU {
    border: 2px dashed var(--darker);
    background-color: transparent; }
  body.theme-dark ._1drQ- {
    background-color: var(--dark) !important; }
  body.theme-dark ._1drQ- header {
    background-color: var(--accent) !important; }
  body.theme-dark ._1drQ- header *,
  body.theme-dark ._1drQ- .media-body * {
    color: var(--lighter) !important; }
  body.theme-dark ._1drQ- .media-collection {
    background-color: var(--darker); }
  body.theme-dark ._1drQ- .media-collection .btn-fill,
  body.theme-dark ._1drQ- ._3hV1n {
    color: var(--lighter);
    background-color: var(--accent) !important; }
  body.theme-dark .emojik {
    transition: 200ms ease-in-out;
    clip-path: circle(48%) !important; }
  body.theme-dark .emojik:focus,
  body.theme-dark .emojik:hover,
  body.theme-dark .emojik.selected {
    box-shadow: none !important;
    opacity: 0.3; }
  body.theme-dark ._1k6Uw {
    border: 0 !important;
    border-bottom: 1px solid var(--darker) !important;
    background-color: var(--darker) !important; }
  body.theme-dark ._1ArIP,
  body.theme-dark ._1ArIP ._1v2rQ {
    background-color: var(--dark); }
  body.theme-dark ._1ArIP ._2WvMb:first-child {
    border-right: 2px solid var(--accent) !important; }
  body.theme-dark ._1v2rQ {
    background-color: var(--darker) !important; }
  body.theme-dark ._3gUiM,
  body.theme-dark #startup,
  body.theme-dark #initial_startup {
    background-color: var(--dark) !important; }
  body.theme-dark ._3gUiM ._2dA13 ._1CnF3,
  body.theme-dark ._2dA13 ._18wuJ,
  body.theme-dark ._2dA13 .IuYNx {
    background-color: var(--darker) !important; }
  body.theme-dark ._3gUiM ._1CnF3 * {
    color: var(--light); }
  body.theme-dark ._2dA13 header {
    background-color: var(--accent) !important; }
  body.theme-dark .PNlAR,
  body.theme-dark ._3hV1n,
  body.theme-dark ._2Gki6 {
    color: var(--lighter) !important;
    background-color: var(--accent) !important; }
  body.theme-dark ._1VD7W {
    border-color: var(--accent);
    background-color: var(--accent); }
  body.theme-dark #side .OUeyt {
    background-color: var(--accent) !important; }
  body.theme-dark .drag-drop {
    background-color: var(--dark) !important; }
  body.theme-dark .drag-drop .stitching {
    border: 5px dashed var(--accent) !important;
    color: var(--light) !important; }
  body.theme-dark .CzI8E {
    border-bottom-color: var(--accent) !important; }
  body.theme-dark ._7HWvs {
    color: var(--light) !important; }
  body.theme-dark .app-wrapper-web ._3sacU {
    background-color: rgba(0, 0, 0, 0.6) !important; }
  body.theme-dark ._3sacU .bZ3B9 {
    background-color: var(--darker) !important; }
  body.theme-dark ._3sacU .Le35d {
    background-color: var(--dark) !important; }
  body.theme-dark [class*="chat"]:before,
  body.theme-dark [class*="chat"]:after,
  body.theme-dark .gQzdc:after,
  body.theme-dark ._1CkkN:before,
  body.theme-dark ._3AwwN:after,
  body.theme-dark .MS-DH:before,
  body.theme-dark .MS-DH:after,
  body.theme-dark ._3YwRO {
    display: none !important; }
  body.theme-dark ._1CkkN ._10xEB,
  body.theme-dark ._14oqx .DcItJ,
  body.theme-dark html[dir] ._2EXPL:after,
  body.theme-dark ._3j7s9,
  body.theme-dark ._1fkhx {
    border: none !important; }
  body.theme-dark span:not([data-icon="image"]) > svg > path {
    fill: var(--icon) !important; }
  body.theme-dark span[data-icon="default-user"] svg > path:first-child,
  body.theme-dark span[data-icon="default-group"] svg > path:first-child {
    fill: var(--dark) !important; }
  body.theme-dark span[data-icon="msg-dblcheck"] svg path,
  body.theme-dark span[data-icon="status-dblcheck"] svg path,
  body.theme-dark span[data-icon="msg-check"] svg path,
  body.theme-dark span[data-icon="status-check"] svg path {
    fill: var(--light) !important;
    opacity: 0.5 !important; }
  body.theme-dark span[data-icon="msg-dblcheck-ack"] svg path,
  body.theme-dark span[data-icon="status-dblcheck-ack"] svg path,
  body.theme-dark span[data-icon="msg-dblcheck-ack-light"] svg path {
    fill: var(--accent) !important;
    opacity: 1 !important; }
  body.theme-dark span[data-icon="chevron-left"] svg path,
  body.theme-dark span[data-icon="chevron-right"] svg path,
  body.theme-dark span[data-icon="x-viewer"] svg path,
  body.theme-dark span[data-icon="download"] svg path,
  body.theme-dark span[data-icon="forward"] svg path,
  body.theme-dark span[data-icon="star-btn"] svg path,
  body.theme-dark span[data-icon="audio-file"] svg path:last-child,
  body.theme-dark span[data-icon="new-group"] svg path,
  body.theme-dark span[data-icon="add-user-light"] svg path,
  body.theme-dark span[data-icon="link"] svg path,
  body.theme-dark span[data-icon="ptt-in-blue"] svg path:first-child,
  body.theme-dark span[data-icon="ptt-out-blue"] svg path:first-child {
    fill: var(--icon) !important; }
  body.theme-dark span[data-icon="ptt-in-blue"] svg path:first-child,
  body.theme-dark span[data-icon="ptt-out-blue"] svg path:first-child {
    fill: transparent !important; }
  body.theme-dark span[data-icon="logo"] svg path:nth-child(1) {
    fill: white !important; }
  body.theme-dark span[data-icon="alert-phone"] svg path:first-child,
  body.theme-dark span[data-icon="logo"] svg path:nth-child(1n + 2),
  body.theme-dark span[data-icon="whatsapp-logo"] svg path:first-child {
    fill: var(--darker) !important; }
  body.theme-dark span[data-icon="emoji-gifs"] svg path {
    fill: var(--icon) !important;
    fill-opacity: 1 !important; }
  body.theme-dark span[data-icon="exit"] svg path,
  body.theme-dark span[data-icon="thumbs-down"] svg path,
  body.theme-dark span[data-icon="delete-danger"] svg path {
    fill: crimson !important; }
  body.theme-dark span[data-icon="audio-file"] svg path {
    fill: rgba(255, 173, 31, 0.8) !important; }
  body.theme-dark html[dir="ltr"] ._3dqpi {
    animation: _104Un 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.38); }
  body.theme-dark ._1i1U7 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--accent) 50%) !important;
    border-radius: 4px !important; }
  body.theme-dark span[data-icon="down-context"] svg path {
    fill-opacity: 1 !important; }
  body.theme-dark .quoted-mention {
    color: wheat !important; }
  body.theme-dark ._1vDUw._1UbeR, body.theme-dark .l90LN.GclUX, body.theme-dark ._2rR_l._29nQu, body.theme-dark ._24k3z, body.theme-dark ._1rADT, body.theme-dark ._3Seam._2e6ev, body.theme-dark ._1ifyO, body.theme-dark ._1vDUw._33zGE {
    background-color: var(--dark) !important; }
