:root {
  --tr-dark-00: transparent;
  --tr-dark-10: rgba(0, 0, 0, 0.1);
  --tr-dark-20: rgba(0, 0, 0, 0.2);
  --tr-dark-30: rgba(0, 0, 0, 0.3);
  --tr-dark-50: rgba(0, 0, 0, 0.5);
  --tr-light-10: rgba(255, 255, 255, 0.1);
  --tr-light-20: rgba(255, 255, 255, 0.2);
  --tr-light-30: rgba(255, 255, 255, 0.3);
  --tr-light-50: rgba(255, 255, 255, 0.5);
  --tr-light-70: rgba(255, 255, 255, 0.7); }

html {
  background: none !important;
  height: 100%; }

.hide {
  display: none; }

body.theme-transparent-dark {
  color: #bbb !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  height: 100%;
  /* TRANSPARENTIZE */ }
  body.theme-transparent-dark .modal-content {
    color: #bbb !important;
    background: #252525 !important; }
  body.theme-transparent-dark a {
    color: #00fff7; }
  body.theme-transparent-dark a.tg_checkbox {
    color: #bbb !important; }
  body.theme-transparent-dark .contacts_modal_members_list a.contacts_modal_contact {
    /*nicknames in contactlist via hamburger menu*/
    color: #bbb; }
  body.theme-transparent-dark .im_dialogs_col .nano > .nano-pane > .nano-slider {
    /*scrollbarbutton when hover*/
    background-color: #4d4d4d !important; }
  body.theme-transparent-dark .tg_head_split {
    background-color: #151515; }
  body.theme-transparent-dark .im_message_mymention {
    background: #1d1d1d; }
  body.theme-transparent-dark .im_message_focus .im_message_outer_wrap {
    background-color: #4d4d4d; }
  body.theme-transparent-dark .im_message_selected .im_message_outer_wrap {
    background: #4d4d4d; }
  body.theme-transparent-dark .im_message_unread_split {
    background: #4d4d4d; }
  body.theme-transparent-dark .btn-primary {
    background-color: #4d4d4d; }
  body.theme-transparent-dark .im_history_select_active .im_message_outer_wrap:hover {
    background: #4d4d4d; }
  body.theme-transparent-dark .im_dialog_chat_from_wrap,
  body.theme-transparent-dark .im_dialog_message_service {
    color: #6ac; }
  body.theme-transparent-dark .tg_head_logo_dropdown .dropdown-menu > li > a {
    color: #ddd; }
  body.theme-transparent-dark .btn-primary.disabled,
  body.theme-transparent-dark .btn-primary[disabled] {
    background: #4d4d4d none repeat scroll 0% 0%; }
  body.theme-transparent-dark .composer_emoji_tooltip,
  body.theme-transparent-dark .icon-tooltip-tail {
    /*emoji*/
    background-color: #4d4d4d !important;
    border-color: #5d5d5d; }
  body.theme-transparent-dark .page_wrap {
    flex: 1; }
  body.theme-transparent-dark .login_head_bg {
    height: auto;
    background: var(--tr-dark-20); }
  body.theme-transparent-dark .login_page_wrap {
    background: var(--tr-dark-20); }
  body.theme-transparent-dark .login_form_wrap {
    background: transparent; }
  body.theme-transparent-dark .login_form_wrap h3 {
    color: #ffffff; }
  body.theme-transparent-dark .login_form_wrap p, body.theme-transparent-dark .md-input-label, body.theme-transparent-dark .login_footer_wrap, body.theme-transparent-dark .countries_modal_country_name {
    color: var(--tr-light-70); }
  body.theme-transparent-dark .md-input {
    background: none;
    color: #fff; }
  body.theme-transparent-dark .logo_footer_learn_more_link, body.theme-transparent-dark .logo_footer_learn_more_link:active, body.theme-transparent-dark .logo_footer_learn_more_link:focus, body.theme-transparent-dark .logo_footer_learn_more_link:hover {
    color: var(--tr-light-70); }
  body.theme-transparent-dark a.login_head_submit_btn:hover {
    background: var(--tr-dark-20) !important; }
  body.theme-transparent-dark .tg_head_split, body.theme-transparent-dark .md_modal_head {
    /* APP in desktop mode */
    /* upper bar - head */
    background: var(--tr-dark-10); }
  body.theme-transparent-dark .dropdown.open .tg_head_btn,
  body.theme-transparent-dark .tg_head_btn:hover {
    background: var(--tr-dark-20) !important; }
  body.theme-transparent-dark .dropdown-menu {
    background: var(--tr-dark-50); }
  body.theme-transparent-dark .im_page_wrap {
    /*main app*/
    background-color: transparent;
    border: none !important;
    box-shadow: none; }
  body.theme-transparent-dark .im_dialogs_col_wrap {
    border-right: 1px solid var(--tr-dark-10);
    background: var(--tr-dark-10); }
  body.theme-transparent-dark .im_dialog_peer, body.theme-transparent-dark .im_dialog_message span *, body.theme-transparent-dark .im_history_empty, body.theme-transparent-dark .im_history_not_selected {
    /*peer nickname unselected*/
    color: white !important; }
  body.theme-transparent-dark a.im_dialog:hover .im_short_message_text, body.theme-transparent-dark a.im_dialog_selected .im_short_message_text {
    color: white !important; }
  body.theme-transparent-dark a:hover {
    background-color: rgba(40, 40, 40, 0.2) !important; }
  body.theme-transparent-dark .form-control {
    /*input field*/
    background-color: var(--tr-dark-50) !important;
    color: white !important;
    border: none;
    border-radius: 0; }
  body.theme-transparent-dark .active a.im_dialog {
    /*selected peer */
    background-color: var(--tr-dark-30) !important; }
  body.theme-transparent-dark .im_message_wrap {
    max-width: initial;
    margin: 0 5%; }
  body.theme-transparent-dark .im_message_in .im_message_body,
  body.theme-transparent-dark .im_message_out .im_message_body {
    padding: 4px 8px;
    color: white; }
  body.theme-transparent-dark .im_message_in .im_message_body {
    background: var(--tr-dark-30);
    border-left: 3px solid var(--tr-dark-50); }
  body.theme-transparent-dark .im_message_out .im_message_body {
    background: var(--tr-dark-10);
    border-right: 3px solid var(--tr-dark-50); }
  body.theme-transparent-dark .im_bottom_panel_wrap {
    border-top: 1px solid var(--tr-dark-50); }
  body.theme-transparent-dark .composer_rich_textarea {
    background: var(--tr-dark-50) !important;
    color: #fff !important; }
  body.theme-transparent-dark .im_record_bg {
    background: none; }
  body.theme-transparent-dark .im_submit {
    color: white; }
  body.theme-transparent-dark .composer_rich_textarea {
    box-shadow: none; }
  body.theme-transparent-dark .composer_rich_textarea:focus {
    box-shadow: 0px 1px 1px #ddd !important; }
  body.theme-transparent-dark .im_page_wrap, body.theme-transparent-dark .tg_head_split {
    /* fix layout */
    max-width: initial;
    min-width: initial; }
