body.theme-transparent-dark, body.theme-transparent-dark .aAt, body.theme-transparent-dark .aAU, body.theme-transparent-dark #loading {
  background: transparent !important; }
body.theme-transparent-dark .vI8oZc.cS, body.theme-transparent-dark .wl {
  display: none !important; }
body.theme-transparent-dark .wl {
  background: transparent !important; }
body.theme-transparent-dark .yO {
  background: rgba(242, 245, 245, 0.2) !important;
  color: rgba(255, 255, 255, 0.7) !important; }
body.theme-transparent-dark .zE {
  color: #202124;
  background: rgba(255, 255, 255, 0.5) !important; }
body.theme-transparent-dark .y2 {
  color: rgba(255, 255, 255, 0.7) !important; }
body.theme-transparent-dark .brC-brG, body.theme-transparent-dark .brC-brG-Jz-bBA, body.theme-transparent-dark .brB-Jz iframe body {
  background-color: transparent !important; }
body.theme-transparent-dark .yO > .xW {
  color: rgba(242, 245, 245, 0.2) !important; }
