body, .aAt, .aAU, #loading {
  background: transparent !important;
}
.vI8oZc.cS, .wl {
	display: none !important;
}
 .wl {
	 background: transparent !important;
 }
.yO {
	background: rgba(242, 245, 245, 0.2) !important;
	color: rgba(255,255,255,.7) !important;
}
.zE {
	color: #202124;
  background: rgba(255,255,255,0.5) !important;
}
.y2{
	color: rgba(255,255,255,.7) !important;
}
.brC-brG, .brC-brG-Jz-bBA, .brB-Jz iframe body {
	background-color: transparent !important;
}
.yO>.xW {
	color: rgba(242, 245, 245, 0.2) !important;
}
